#frameBorder {
    margin: 5px;
    border: 2px #000;
    background-color: grey;
    border-radius: 15px;
    text-align: center;
    margin: auto;
    margin-top: 8px;
    height: 100%;
    padding-top: 10px;
}
.picture{
    width: 135px;
    height: 180;
}