<div class="top">
  <h1  class="d-banner">FHDW Stadtrallye</h1>
  <p class="d-banner">DASHBOARD</p>
</div>


<div class="wrapper">
  <div class="row">
    <div class="column left d-padding d-height">
      <app-map>loading</app-map>
    </div>

    <div class="column mid d-padding d-height d-chat d-margin">
        <!-- <p>Chat to be implemented</p> -->
        <app-chat></app-chat>
    </div>
    
    <div class="column right d-padding d-height d-feed d-margin">
        <p>Newsfeed to be implemented</p>
    </div>
  </div>
</div>