.wrapper {
    background-color: rgba(0, 0, 255, 0.7);
    padding: 5px;
    padding-left: 10px;
    margin-top: 12px;
    border-radius: 20px;
}

.d-banner {
    color: orange;
    margin: auto;
}

.d-chat {
    background-color: grey;
    border-radius: 15px;
    text-align: center;
    margin: auto;
    margin-top: 8px;
    height: 100%;
}

.d-feed {
    background-color: grey;
    border-radius: 15px;
    text-align: center;
    margin: auto;
    margin-top: 8px;
    height: 100%;
}

.d-padding {
    padding: 8px 4px;
}

.d-height {
    height: 60%;
}

.top {
    background-color: rgba(0, 0, 255, 0.8);
    padding: 5px;
    border-radius: 25px;
    height: 60px;
    text-align: center;
    font-family: "Calibri";
}

.column {
    float: left;
}

.left {
    width: 50%;
}

.right {
    width: 15%;
}

.mid {
    width: 25%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}